@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot');
  src: url('https://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot?#iefix') format('embedded-opentype'),
  local('Roboto'),
  local('Roboto-regular'),
  url('https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2') format('woff2'),
  url('https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff') format('woff'),
  url('https://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf') format('truetype'),
  url('https://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v15#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIvY6323mHUZFJMgTvxaG2iE.eot');
  src: url('https://fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIvY6323mHUZFJMgTvxaG2iE.eot?#iefix') format('embedded-opentype'),
  local('Roboto Black'),
  local('Roboto-900'),
  url('https://fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIpBw1xU1rKptJj_0jans920.woff2') format('woff2'),
  url('https://fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIrO3LdcAZYWl9Si6vvxL-qU.woff') format('woff'),
  url('https://fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIqCWcynf_cDxXwCLxiixG1c.ttf') format('truetype'),
  url('https://fonts.gstatic.com/l/font?kit=mnpfi9pxYH-Go5UiibESIpbd9NUM7myrQQz30yPaGQ4&skey=934406f772f9777d&v=v15#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOPY6323mHUZFJMgTvxaG2iE.eot');
  src: url('https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOPY6323mHUZFJMgTvxaG2iE.eot?#iefix') format('embedded-opentype'),
  local('Roboto Bold'),
  local('Roboto-700'),
  url('https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2') format('woff2'),
  url('https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOLO3LdcAZYWl9Si6vvxL-qU.woff') format('woff'),
  url('https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOKCWcynf_cDxXwCLxiixG1c.ttf') format('truetype'),
  url('https://fonts.gstatic.com/l/font?kit=d-6IYplOFocCacKzxwXSOJbd9NUM7myrQQz30yPaGQ4&skey=c06e7213f788649e&v=v15#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUffY6323mHUZFJMgTvxaG2iE.eot');
  src: url('https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUffY6323mHUZFJMgTvxaG2iE.eot?#iefix') format('embedded-opentype'),
  local('Roboto Light'),
  local('Roboto-300'),
  url('https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2') format('woff2'),
  url('https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff') format('woff'),
  url('https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf') format('truetype'),
  url('https://fonts.gstatic.com/l/font?kit=Hgo13k-tfSpn0qi1SFdUfZbd9NUM7myrQQz30yPaGQ4&skey=11ce8ad5f54705ca&v=v15#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUfY6323mHUZFJMgTvxaG2iE.eot');
  src: url('https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUfY6323mHUZFJMgTvxaG2iE.eot?#iefix') format('embedded-opentype'),
  local('Roboto Medium'),
  local('Roboto-500'),
  url('https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2') format('woff2'),
  url('https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUbO3LdcAZYWl9Si6vvxL-qU.woff') format('woff'),
  url('https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUaCWcynf_cDxXwCLxiixG1c.ttf') format('truetype'),
  url('https://fonts.gstatic.com/l/font?kit=RxZJdnzeo3R5zSexge8UUZbd9NUM7myrQQz30yPaGQ4&skey=ee881451c540fdec&v=v15#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/roboto/v15/PP2U5prMl9yvKSWVu6DtvPesZW2xOQ-xsNqO47m55DA.eot');
  src: url('https://fonts.gstatic.com/s/roboto/v15/PP2U5prMl9yvKSWVu6DtvPesZW2xOQ-xsNqO47m55DA.eot?#iefix') format('embedded-opentype'),
  local('Roboto Thin'),
  local('Roboto-100'),
  url('https://fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxHYhjbSpvc47ee6xR_80Hnw.woff2') format('woff2'),
  url('https://fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg13YhjbSpvc47ee6xR_80Hnw.woff') format('woff'),
  url('https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nfesZW2xOQ-xsNqO47m55DA.ttf') format('truetype'),
  url('https://fonts.gstatic.com/l/font?kit=hfaguKg3-IA6kBbQw6DBafesZW2xOQ-xsNqO47m55DA&skey=5473b731ec7fc9c1&v=v15#Roboto') format('svg');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD90tugusXa58UbOrParLRF0.eot');
  src: url('https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD90tugusXa58UbOrParLRF0.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro'),
       local('Source-Code-Pro-regular'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD5bPFduIYtoLzwST68uhz_Y.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD9Hq-FFgoDNV3GTKpHwuvtI.woff') format('woff'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD9zbP97U9sKh0jjxbPbfOKg.ttf') format('truetype'),
       url('https://fonts.gstatic.com/l/font?kit=mrl8jkM18OlOQN8JLgasDwDX0QHsyBtvFGhCuXSMYhM&skey=d94d317bc78fd84e&v=v6#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 900;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqSDZg7i-e40o9FYYiSpZxAc.eot');
  src: url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqSDZg7i-e40o9FYYiSpZxAc.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro Black'),
       local('Source-Code-Pro-900'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqYq-Fb0zf838trI74uojZQY.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqS7eGk4PJkA83J1AXCmgUfc.woff') format('woff'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqRPPOa1q11iOmmM9mDHHHX4.ttf') format('truetype'),
       url('https://fonts.gstatic.com/l/font?kit=leqv3v-yTsJNC7nFznSMqUJ5fyyk7hbwuQs1ayp3rqc&skey=e82170d60945e64a&v=v6#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 700;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqVV89XnfCtb1fhQGOlhyqi8.eot');
  src: url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqVV89XnfCtb1fhQGOlhyqi8.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro Bold'),
       local('Source-Code-Pro-700'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqZkF8H8ye47wsfpWywda8og.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqYqjGYJUyOXcBwUQbRaNH6c.woff') format('woff'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqbsbIrGiHa6JIepkyt5c0A0.ttf') format('truetype'),
       url('https://fonts.gstatic.com/l/font?kit=leqv3v-yTsJNC7nFznSMqToOxVUo1xdF11_PvoexWN4&skey=9f4ba9d7d468e539&v=v6#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 200;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqVl_EbE5kujbLzdX6sKqH6g.eot');
  src: url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqVl_EbE5kujbLzdX6sKqH6g.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro ExtraLight'),
       local('Source-Code-Pro-200'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqYAPdqzPmKFFIYQ-46z3JxY.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqS-IiwWNzQT_LXAtr-Ee9Pw.woff') format('woff'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqUMbjGELOEJD5J8DUmxkO-A.ttf') format('truetype'),
       url('https://fonts.gstatic.com/l/font?kit=leqv3v-yTsJNC7nFznSMqVuXahqWP-sUHr1s2YHnD8g&skey=81327d15735035c0&v=v6#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 300;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqRlTL9oEQvYTI0YAW1-Ysv0.eot');
  src: url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqRlTL9oEQvYTI0YAW1-Ysv0.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro Light'),
       local('Source-Code-Pro-300'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqSP2LEk6lMzYsRqr3dHFImA.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqcVNtom4QlEDNJaqqqzqdSs.woff') format('woff'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqcw1o1eFRj7wYC6JbISqOjY.ttf') format('truetype'),
       url('https://fonts.gstatic.com/l/font?kit=leqv3v-yTsJNC7nFznSMqeUS_KcVBMXUJf1HZjyEEXg&skey=6d2158b46343a4d5&v=v6#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 500;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqW98Vd-2iqmUspkFPu1BpxQ.eot');
  src: url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqW98Vd-2iqmUspkFPu1BpxQ.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro Medium'),
       local('Source-Code-Pro-500'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqQkmYxw_9-DA-DdfP1SWvz8.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqbIHYkLmgtPJP77jcqN9P08.woff') format('woff'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqU6EJOknnpZ4Yy-3LjgZKxo.ttf') format('truetype'),
       url('https://fonts.gstatic.com/l/font?kit=leqv3v-yTsJNC7nFznSMqe2LZp4jml_mRRyCk1Ja-dQ&skey=e288f1251860d481&v=v6#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 600;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqdanmHNzStikJN_FjplbBik.eot');
  src: url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqdanmHNzStikJN_FjplbBik.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro Semibold'),
       local('Source-Code-Pro-600'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqczFoXZ-Kj537nB_-9jJhlA.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqSmgpmuQqK2I-L2S9cF65Ek.woff') format('woff'),
       url('https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqdNE-IuDiR70wI4zXaKqWCM.ttf') format('truetype'),
       url('https://fonts.gstatic.com/l/font?kit=leqv3v-yTsJNC7nFznSMqd6ADpNrYTvKq5lsv8A_aYs&skey=9cd0157ce34609d3&v=v6#SourceCodePro') format('svg');
}

body, input {
  color: #4D4D4D;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

pre, code {
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
}

pre code {
  background-color: transparent !important;
}

.admonition.note {
  background-color: #F1F7F3 !important;
  box-shadow: none;
  border: .1rem solid #7FB992;
  border-left: .4rem solid #6FA280;
}

.admonition.note .admonition-title {
  background-color: #7FB992;
}

.admonition.note .admonition-title:before {
  color: #6FA280;
}

.md-typeset .admonition.warning {
  background-color: #FEFCF2 !important;
  border: 1px solid #F9E894;
  border-left: .4rem solid #D8C462;
  box-shadow: none;
}

.md-typeset .admonition.warning .admonition-title {
  border-bottom: .1rem solid #F7E070;
  background-color: #F9E894;
}

.md-typeset .admonition.warning .admonition-title:before {
  color: #D8C462;
}

.md-footer-meta {
  background-color: #404040;
}

.md-footer-nav {
  background-color: #4D4D4D;
}

.md-header {
  background-color: #668DC5;
  box-shadow: none !important;
}

.md-nav--secondary {
  border-color: #75A1E1;
}

.md-nav__link:hover {
  color: #75A1E1;
}

.md-typeset a {
  color: #75A1E1;
  font-weight: 400;
}

.md-typeset a:active, .md-typeset a:hover {
  color: #668DC5;
}

.md-typeset h1 {
  color: #4D4D4D;
}

.md-typeset pre {
  padding: 25px;
  background-color: #585858;
  color: #F6F7F9;
}

.md-typeset code {
  background-color: #F6F7F9;
}

strong {
  font-weight: 500;
}
